<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="display-4">ngx-pro-errors</h1>
      <hr />
      <p class="lead">
        This is a third iteration of <a href="https://github.com/UltimateAngular/ngx-errors" target="_blank">@ultimate/ngxerrors</a>. We don't know why but UltimateAngular never
        updated this package to be used with Angular 6 (when <strong>rxjs</strong> was updated to use pipeable operators). Enters <a href="https://github.com/hackages/ngx-errors" target="_blank">@hackages/ngx-errors</a>
        who updated the project and most of it's dependencies so we could use it in our projects as usual
      </p>
    </div>

  </div>

  <div class="row my-5">
    <div class="col-6 mx-auto">
      <div class="card p-4 shadow-lg">
        <div class="card-body">
          <h5 class="card-title">Test Form</h5>
          <p class="card-text">Very simple form. If you want to try more features clone the repo and run the showcase</p>
        </div>
        <div class="card-body">
          <app-form-test></app-form-test>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <p class="lead">
        The original project was using some custom Webpack, Rollup & Yarn configuration and Angular CLI was nowhere to be seen. This is the same project as <strong>@hackages</strong> but using the current
        CLI tools so we can take advantage of update schematics and a more aligned design with what <strong>Angular</strong> is right now (meaning Ivy). If you are using the original project,
        usage instructions are the same, nothing has been changed. Good luck!
      </p>
    </div>
  </div>
</div>
